<%- include("header") %>

<div class="container">
  <h1><%= title %></h1>
  <a href="/profile">Profile</a>
</div>

<%- include(accounts.savings) %>
<%- include(accounts.checking) %>
<%- include(accounts.credit) %>

<br/>

<a href="/transfer">Transfer</a>

<%- include("footer") %>
