<!-- 1.6 -->
<%- include('header'); -%>

  <div class="container">
    <!-- 1.6.1 -->
    <h1><%= title %></h1>
    <!-- 1.6.2 -->
    <a href="/profile">Profile</a>
  </div>

  <!-- 2.5 -->
  <%- include('summary', { account: accounts.checking }); %>
  <%- include('summary', { account: accounts.savings }); %>
  <%- include('summary', { account: accounts.credit }); %>

  <!-- 1.6.3 -->
  <br><a href="/services/transfer">Transfer</a>

<!-- 1.6.4 -->
<%- include('footer'); -%>