<%- include('header'); -%>

<a class="right-aligned" href="/profile">Profile</a>
<div class="accounts">

  <%- include('summary', { account: accounts.checking }); %>
  <%- include('summary', { account: accounts.savings }); %>
  <%- include('summary', { account: accounts.credit }); %>

  <br>
  <a href="/transfer">Transfer</a>
</div>

<%- include('footer'); -%>
