<%- include('header'); -%>

<div>
    <p>Profile</p>
    <div>
        <%= details.name %><br>
        <%= details.username %><br>
        <%= details.phone %><br>
        <%= details.email %><br>
        <%= details.address %><br>
    </div>
</div>

<%- include('footer'); -%>


