<%- include("header") %>

<h1>Profile</h1>
<div>
  <%= user.name %>
  <br>
  <%= user.username %>
  <br>
  <%= user.phone %>
  <br>
  <%= user.email %>
  <br>
  <%= user.address %>
</div>

<br>

<a href="/">Back to Account Summary</a>

<%- include("footer") %>
