<h1><%= title %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Account Number</th>
    <th>Prior Balance</th>
    <th>Current Balance</th>
  </tr>
  <tr>
    <td><a href="<%= route %>"><%= title %></a></td>
    <td><%= account.account_number %></td>
    <td>$<%= account.prior_balance %></td>
    <td>$<%= account.balance %></td>
  </tr>
</table>