<h1><%= title %></h1>

<div>
  <table class="transactions">
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Description</th>
      <th>Status</th>
      <th>Amount</th>
    </tr>
    <% transactions.forEach( transaction => { %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.type %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.status %></td>
        <td>$<%= transaction.amount %></td>
      </tr>
    <% }); %>
  </table>
</div>